{% extends "base.html" %}
{% block content %}


<style>
  th a, th a:visited, th a:hover, th a:active {
    color: inherit;
    text-decoration: none;
  }
</style>

<h2>Ingresos y salidas</h2>

<a href="{% url 'estacionamiento:movimiento_ingreso' %}" style="display:inline">
	<button>Registrar ingreso</button>
</a>

<table>

  <tr>
    <th>
      <a href="?orden=usuario&dir={% if orden == 'usuario' and dir == 'asc' %}desc{% else %}asc{% endif %}">
        Usuario{% if orden == 'usuario' %}{% if dir == 'asc' %} ▲{% else %} ▼{% endif %}{% endif %}
      </a>
    </th>
    <th>
      <a href="?orden=vehiculo&dir={% if orden == 'vehiculo' and dir == 'asc' %}desc{% else %}asc{% endif %}">
        Vehículo{% if orden == 'vehiculo' %}{% if dir == 'asc' %} ▲{% else %} ▼{% endif %}{% endif %}
      </a>
    </th>
    <th>
      <a href="?orden=zona&dir={% if orden == 'zona' and dir == 'asc' %}desc{% else %}asc{% endif %}">
        Zona{% if orden == 'zona' %}{% if dir == 'asc' %} ▲{% else %} ▼{% endif %}{% endif %}
      </a>
    </th>
    <th>
      <a href="?orden=espacio&dir={% if orden == 'espacio' and dir == 'asc' %}desc{% else %}asc{% endif %}">
        Espacio{% if orden == 'espacio' %}{% if dir == 'asc' %} ▲{% else %} ▼{% endif %}{% endif %}
      </a>
    </th>
    <th>
      <a href="?orden=ingreso&dir={% if orden == 'ingreso' and dir == 'asc' %}desc{% else %}asc{% endif %}">
        Ingreso{% if orden == 'ingreso' %}{% if dir == 'asc' %} ▲{% else %} ▼{% endif %}{% endif %}
      </a>
    </th>
    <th>
      <a href="?orden=salida&dir={% if orden == 'salida' and dir == 'asc' %}desc{% else %}asc{% endif %}">
        Salida{% if orden == 'salida' %}{% if dir == 'asc' %} ▲{% else %} ▼{% endif %}{% endif %}
      </a>
    </th>
    <th></th>
  </tr>
  
  {% for m in movimientos %}
  <tr>
    <td>{{ m.usuario_nombre }}</td>
    <td>{{ m.patente }}</td>
    <td>{{ m.espacio.zona }}</td>
    <td>N°{{ m.espacio.numero }}</td>
    <td>{{ m.fecha_hora_ingreso }}</td>
    <td>
      {% if m.fecha_hora_salida %}
        {{ m.fecha_hora_salida }}
      {% else %}
        En curso
      {% endif %}
    </td>
    <td>
      {% if not m.fecha_hora_salida %}
        <a href="{% url 'estacionamiento:movimiento_salida' m.pk %}">Registrar salida</a>
      {% endif %}
    </td>
  </tr>
  {% empty %}
  <tr><td colspan="7">Todavía no hay movimientos registrados.</td></tr>
  {% endfor %}
</table>
{% endblock %}
